.navbar {
  display: flex;
  flex-direction: column;
  background-color: darkseagreen;
  max-width: 250px;
  height: 100vh;
  border-right: 1px black solid;
  justify-content: space-between;

  .navBtns {
    margin: 12px 10px;

    .logo {
      width: 100%;
      height: 50px;
      margin-bottom: 50px;
    }

    button {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      transition: all 0.1s;

      &:hover {
        transform: scale(105%);
        cursor: pointer;
      }
    }
  }

  .shoppingcart {
    background-color: bisque;
    border: 2px black solid;
    border-radius: 50px;
    padding: 4px 0;
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: end;
    transition: all 0.1s;

    svg {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    p {
      grid-column-start: 3;
      grid-column-end: 7;
    }
  }

  footer {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
