@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .title {
    top: 10px;
    font-family: "Oswald";
    font-size: 160px;
    text-shadow: 2px 3px 2px #333;
    color: $background-accent;
  }

  .bodyText {
    font-size: 20px;
    text-align: center;
    color: black;
  }

  .shopbtn {
    border: 1px $highlight solid;
    background-color: $highlight;
    color: $background-color;
    padding: 1em;
    text-decoration: none;
    border-radius: 2px;
    margin-bottom: 80px;
    font-size: 30px;
    transition: 0.2s ease-in-out all;
    &:hover {
      transform: scale(102%);
      background-color: lighten($highlight, 4);
    }
  }
}
