@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

.homeWrapper {
  margin: 80px;
  background-color: teal;
  width: 100%;
  border: black 0px solid;
  box-shadow: 0px 2px 3px;
  border-radius: 10rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  .title {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 7;
    justify-items: center;
    align-content: center;
    grid-row: span 2;

    width: 100%;
    height: 100%;

    font-family: "Oswald";
    font-size: 160px;
    text-shadow: 2px 3px 2px white;
  }

  .bodyText {
    font-size: 30px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.299);
    box-shadow: 0px 1px 1px black;
    border-radius: 2px;
    margin-bottom: 10px;
    color: #cfd9dd;
    text-shadow: 2px 1px #4f535583;
    padding: 10px;
  }

  .shopbtn {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .shopbtn button {
    border-radius: 2px;
    font-size: 30px;
    &:hover {
      font-size: 31px;
      border: 1px solid black;
    }
  }
}
