.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .listWrapper {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    align-items: center;
    hr {
      width: 90%;
    }
    .content {
      margin: 10px 0;
      display: flex;
      width: 90%;
      flex-direction: row;
      .col {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .col1 {
        flex-basis: 30%;
        text-transform: uppercase;
      }
      .col2 {
        flex-basis: 20%;
        img {
          height: 100px;
          width: 100px;
        }
      }
      .col3 {
        flex-basis: 25%;
      }
      .col4 {
        flex-basis: 25%;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
    .checkout {
      border: 1px solid black;
      position: absolute;
      width: 200px;
      padding: 10px;
      bottom: 0;
      text-align: center;
      background-color: #c000ff;
    }
  }
}
